/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

#logo,
#footerLOGO {
  font-family: "Pacifico", cursive;
}

#loading {
  font-family: "Oswald", cursive;
}
#liItems,
#_siteSearch,
#_footer {
  font-family: "Port Lligat Slab", serif;
}
.heading,
#topicHeading {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#cards {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -100px 36px -8px inset;
  font-size: 20px;
  font-weight: 500;
}

#btn {
  background: linear-gradient(to right, #dddbcb 50%, #008080 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
#btn:hover {
  background-position: left bottom;
}
.worldAnimation {
  background: linear-gradient(to right, white 50%, red 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}
.worldAnimation:hover {
  background-position: left bottom;
}

.lineAnimation::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #008080;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.lineAnimation:hover::after {
  transform: scaleX(1);
}
.lineAnimationHome::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #dddbcb;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.lineAnimationHome:hover::after {
  transform: scaleX(1);
}

/* Navigation bar styling:-- */
.floating-links {
  position: fixed;
  top: 40vh;
  left: 0;
}

/* Card 1 styling:-- */
#card-1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card1-figure-img {
  max-width: 100%;
  height: 200px;
}
@media (min-width: 1024px) {
  .card1-figure-img {
    height: 160px;
  }
}
@media (min-width: 1600px) {
  .card1-figure-img {
    height: 200px;
  }
}
.card-1-title {
  margin: 8px 0px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}

/*Card 2 styling:-- */
.card-container {
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.figure-img {
  max-width: 100%;
  height: 200px;
}
@media (min-width: 1600px) {
  .figure-img {
    height: 260px;
  }
}
.title-para {
  margin: 8px 0px;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
@media (min-width: 1600px) {
  .title-para {
    font-size: 26px;
  }
}
.title-para:hover {
  text-decoration: underline;
}
.description-para {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.source-time {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.1rem;
}
.source-span {
  font-weight: 600;
}
